ai-poem-generator.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "formTitle": "my team",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name"
            },
            {
              "fieldLabel": "Looks"
            },
            {
              "fieldLabel": "profession",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Video Editor"
                  },
                  {
                    "option": "Graphic Designer"
                  },
                  {
                    "option": "AI Manager"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        304,
        0
      ],
      "id": "d27690f2-5339-4e18-8f12-93ced67fb4b8",
      "name": "On form submission",
      "webhookId": "0c5a58cd-8b1d-45d2-92ce-00c5268d7971"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appQSGD5u6Ao5G6pY",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://airtable.com/appQSGD5u6Ao5G6pY"
        },
        "table": {
          "__rl": true,
          "value": "tblPSlfarMCtlNTXj",
          "mode": "list",
          "cachedResultName": "Table 2",
          "cachedResultUrl": "https://airtable.com/appQSGD5u6Ao5G6pY/tblPSlfarMCtlNTXj"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Profession": "={{ $json.profession }}",
            "Name": "={{ $json.Name }}",
            "Looks": "={{ $json.Looks }}",
            "Rating": 5
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Looks",
              "displayName": "Looks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Profession",
              "displayName": "Profession",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Video Editor",
                  "value": "Video Editor"
                },
                {
                  "name": "Graphic Designer",
                  "value": "Graphic Designer"
                },
                {
                  "name": "AI Manager",
                  "value": "AI Manager"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachments",
              "displayName": "Attachments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Attachment Summary",
              "displayName": "Attachment Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        576,
        0
      ],
      "id": "d01dfb10-ac2d-4ee0-af46-e26bdab7ac8a",
      "name": "update in Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "mlxZ8LCzKamqrX2N",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.fields.Profession }}",
                    "rightValue": "Video Editor",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "6ef2869b-4d0d-4512-b397-21a9d276c9ff"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e5cbcc7d-f95e-4a58-a4a1-b300a9dd44c0",
                    "leftValue": "={{ $json.fields.Profession }}",
                    "rightValue": "Graphic Designer",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "20c59656-75a4-4ed1-8382-a662ccbe608c",
                    "leftValue": "={{ $json.fields.Profession }}",
                    "rightValue": "AI Manager",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        816,
        -16
      ],
      "id": "18ec61ca-bbbf-4989-8ce3-9b6c3999e89e",
      "name": "pathways"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appQSGD5u6Ao5G6pY",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://airtable.com/appQSGD5u6Ao5G6pY"
        },
        "table": {
          "__rl": true,
          "value": "tblPSlfarMCtlNTXj",
          "mode": "list",
          "cachedResultName": "Table 2",
          "cachedResultUrl": "https://airtable.com/appQSGD5u6Ao5G6pY/tblPSlfarMCtlNTXj"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Rating": 5
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Looks",
              "displayName": "Looks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Profession",
              "displayName": "Profession",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Video Editor",
                  "value": "Video Editor"
                },
                {
                  "name": "Graphic Designer",
                  "value": "Graphic Designer"
                },
                {
                  "name": "AI Manager",
                  "value": "AI Manager"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachments",
              "displayName": "Attachments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Attachment Summary",
              "displayName": "Attachment Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        1136,
        -176
      ],
      "id": "1372617c-4e5d-42cc-a09e-0591f2bf856f",
      "name": "Video Editor rating",
      "credentials": {
        "airtableTokenApi": {
          "id": "mlxZ8LCzKamqrX2N",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appQSGD5u6Ao5G6pY",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://airtable.com/appQSGD5u6Ao5G6pY"
        },
        "table": {
          "__rl": true,
          "value": "tblPSlfarMCtlNTXj",
          "mode": "list",
          "cachedResultName": "Table 2",
          "cachedResultUrl": "https://airtable.com/appQSGD5u6Ao5G6pY/tblPSlfarMCtlNTXj"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Rating": 3
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Looks",
              "displayName": "Looks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Profession",
              "displayName": "Profession",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Video Editor",
                  "value": "Video Editor"
                },
                {
                  "name": "Graphic Designer",
                  "value": "Graphic Designer"
                },
                {
                  "name": "AI Manager",
                  "value": "AI Manager"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachments",
              "displayName": "Attachments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Attachment Summary",
              "displayName": "Attachment Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        1136,
        0
      ],
      "id": "990d9f72-03d1-4337-88b7-2c9872a30638",
      "name": "Graphic Designer rating",
      "credentials": {
        "airtableTokenApi": {
          "id": "mlxZ8LCzKamqrX2N",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appQSGD5u6Ao5G6pY",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://airtable.com/appQSGD5u6Ao5G6pY"
        },
        "table": {
          "__rl": true,
          "value": "tblPSlfarMCtlNTXj",
          "mode": "list",
          "cachedResultName": "Table 2",
          "cachedResultUrl": "https://airtable.com/appQSGD5u6Ao5G6pY/tblPSlfarMCtlNTXj"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Rating": 1
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Looks",
              "displayName": "Looks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Profession",
              "displayName": "Profession",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Video Editor",
                  "value": "Video Editor"
                },
                {
                  "name": "Graphic Designer",
                  "value": "Graphic Designer"
                },
                {
                  "name": "AI Manager",
                  "value": "AI Manager"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachments",
              "displayName": "Attachments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Attachment Summary",
              "displayName": "Attachment Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        1136,
        192
      ],
      "id": "eec9dd34-deab-47f3-ab91-eba0c439589c",
      "name": "AI Manager rating",
      "credentials": {
        "airtableTokenApi": {
          "id": "mlxZ8LCzKamqrX2N",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=i want you to act like the best poem creater and create a poem of two lines based on the details given below.\nThe poem should be only two lines and not more then that.\nAlso the poem should be extremely simple to understand.\nI want you to incluse these three things in the poem in the poem\nName: {{ $json.fields.Name }}\nLooks: {{ $json.fields.Looks }}\nProfession: {{ $json.fields.Profession }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1376,
        0
      ],
      "id": "780971be-f0f8-4efa-af32-002104a5803c",
      "name": "AI Agent",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1376,
        192
      ],
      "id": "ee2a023a-003c-4b4a-8859-bfff3abffd3b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "CYAQOtsZDOo6Hakm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appQSGD5u6Ao5G6pY",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://airtable.com/appQSGD5u6Ao5G6pY"
        },
        "table": {
          "__rl": true,
          "value": "tblPSlfarMCtlNTXj",
          "mode": "list",
          "cachedResultName": "Table 2",
          "cachedResultUrl": "https://airtable.com/appQSGD5u6Ao5G6pY/tblPSlfarMCtlNTXj"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('update in Airtable').item.json.id }}",
            "Poem": "={{ $json.output }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Looks",
              "displayName": "Looks",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Profession",
              "displayName": "Profession",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Video Editor",
                  "value": "Video Editor"
                },
                {
                  "name": "Graphic Designer",
                  "value": "Graphic Designer"
                },
                {
                  "name": "AI Manager",
                  "value": "AI Manager"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Poem",
              "displayName": "Poem",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachments",
              "displayName": "Attachments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Attachment Summary",
              "displayName": "Attachment Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        1728,
        0
      ],
      "id": "8efbfe4c-8ea4-4131-9801-ff413cb8315d",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "mlxZ8LCzKamqrX2N",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "update in Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update in Airtable": {
      "main": [
        [
          {
            "node": "pathways",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pathways": {
      "main": [
        [
          {
            "node": "Video Editor rating",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Graphic Designer rating",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Manager rating",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Graphic Designer rating": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Editor rating": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Manager rating": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "38401313-47b3-4a88-8e92-c0fcd1339b56",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4d2a9bec5c740216ad11252cfd4475363828a6299ee3786ce68bd3d3a8b8e3bb"
  },
  "id": "OG85XAth5XBjQg4E",
  "tags": []
}